:root {

  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);

  --ff-poppins: poppins;
  --ff-open-sans: open sans;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--Violet);
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*******
HEADER
********/

.logo {
  padding: 0px;
  margin-top: 38.2px;
  margin-bottom: 55px;
  margin-inline-start: 40px;
  height: 32px;
}


/*******
BODY
********/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

}

.main-image {
  height: 212px;
  width: 299px;
  margin-bottom: 55px;
  margin-inline: 40px;

}

h1 {
  font-family: var(--ff-poppins);
  font-weight: 600;
  margin-inline: 47px;
  font-size: 1.5rem;
  line-height: 36px;
  margin-bottom: 16px;
  min-width: 280px;
  max-width: 280px;
}

p {
  margin-inline: 35px;
  font-family: var(--ff-open-sans);
  font-size: 1rem;
  font-weight: 300;
  line-height: 23px;
  margin-bottom: 24px;
  min-width: 295px;
  max-width: 295px;
}

button {
  font-family: var(--ff-poppins);
  font-size: .75rem;
  color: var(--Violet);
  padding: 11.29px 75.14px 10.71px 75.86px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background-color: white;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .269);
  margin-bottom: 63px;
}

button:active,
button:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}

/***********
FOOTER
*********/

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10.49px;

}


.social-icon {
  border: .9px black;
  border-style: inset;
  border-style: solid;
  fill-opacity: red;
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(183deg) brightness(91%) contrast(111%);
}

.social-icon:hover {
  filter: invert(44%) sepia(97%) saturate(1414%) hue-rotate(294deg) brightness(102%) contrast(101%);
}

.social-icon:nth-child(1) {
  width: 8.11px;
  height: 15.3px;
  padding: 6px 9.25px 6px 9.25px;
  border-radius: 22px;
  margin-top: 2px;

}

.social-icon:nth-child(2) {
  width: 12.64px;
  height: 13.2px;
  padding: 6.7px 7px 6.7px 7px;
  border-radius: 22px;
}

.social-icon:nth-child(3) {
  width: 14.77px;
  height: 15.18px;
  padding: 6.16px 6.18px 6.16px 6.18px;
  border-radius: 22px;

}



@media (min-width: 1300px) {

  body {
    background-image: url(images/bg-desktop.svg);
  }
  
  /*******
  HEADER
  ********/
  
  .logo {
    padding: 0px;
    margin-top: 58px;
    margin-bottom: 80px;
    margin-inline-start: 80px;
    height: 50px;
  }
  
  
  /*******
  BODY
  ********/
  
  main {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 59px;
  
  }
  
  .main-image {
    height: 493px;
    width: 696px;
    margin-bottom: 0px;
    margin-inline-start: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }


  h1 {
    margin-inline: 0px;
    font-size: 2.5rem;
    line-height: 60px;
    margin-bottom: 18px;
    min-width: 487px;
    max-width: 487px;
    text-align: left;
    margin-top: 40px;
  }
  
  p {
    margin-inline: 0px;
    font-size: 1.125rem;
    line-height: 27px;
    min-width: 500px;
    max-width: 500px;
    text-align: left;

  }

  .flex-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-inline-end: 85px;
  }
  
  button {
    font-size: 1.125rem;
    padding: 13px 63px 16px 64px;
    border-radius: 28px;
    margin-bottom: 0px;
  }
  
  /***********
  FOOTER
  *********/
  
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10.49px;
    margin-inline-end: 80px;
    margin-top: 20px; 
    
  }
  
  .social-icon {
    border: 1.58px black;
    border-style: inset;
    border-style: solid; 
  }
  
  .social-icon:nth-child(1) {
    width: 12px;
    height: 23px;
    padding: 10px 13px 7px 14px;
    border-radius: 22px;
  
  }
  
  .social-icon:nth-child(2) {
    width: 21.02px;
    height: 21px;
    padding: 9.3px 9.15px 8.3px 9.35px;
    border-radius: 22px;
  }
  
  .social-icon:nth-child(3) {
    width: 22.82px;
    height: 22.82px;
    padding: 8.59px;
    border-radius: 22px;
  
  }

}